In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [2]:
customer_df = pd.read_csv('.\\files_for_lab\\we_fn_use_c_marketing_customer_value_analysis.csv')
display(customer_df.shape)
customer_df.head()

customer_df.T

(9134, 24)

,0,1,2,3,4,5,6,7,8,9,...,9124,9125,9126,9127,9128,9129,9130,9131,9132,9133
Customer,BU79786,QZ44356,AI49188,WW63253,HB64268,OC83172,XZ87318,CF85061,DY87989,BQ94931,...,CB59349,RX91025,AC13887,TF56202,YM19146,LA72316,PK87824,TD14365,UP19263,Y167826
State,Washington,Arizona,Nevada,California,Washington,Oregon,Oregon,Arizona,Oregon,Oregon,...,California,California,California,California,California,California,California,California,California,California
Customer Lifetime Value,2763.519279,6979.535903,12887.43165,7645.861827,2813.692575,8256.2978,5380.898636,7216.100311,24127.50402,7388.178085,...,16261.5855,19872.262,4628.995325,5032.165498,4100.398533,23405.98798,3096.511217,8163.890428,7524.442436,2611.836866
Response,No,No,No,No,No,Yes,Yes,No,Yes,No,...,No,No,No,No,No,No,Yes,No,No,No
Coverage,Basic,Extended,Premium,Basic,Basic,Basic,Basic,Premium,Basic,Extended,...,Extended,Premium,Basic,Basic,Premium,Basic,Extended,Extended,Extended,Extended
Education,Bachelor,Bachelor,Bachelor,Bachelor,Bachelor,Bachelor,College,Master,Bachelor,College,...,Master,High School or Below,Bachelor,College,College,Bachelor,College,Bachelor,College,College
Effective To Date,2/24/11,1/31/11,2/19/11,1/20/11,2/3/11,1/25/11,2/24/11,1/18/11,1/26/11,2/17/11,...,1/20/11,1/31/11,1/9/11,2/12/11,1/6/11,2/10/11,2/12/11,2/6/11,2/3/11,2/14/11
EmploymentStatus,Employed,Unemployed,Employed,Unemployed,Employed,Employed,Employed,Unemployed,Medical Leave,Employed,...,Employed,Unemployed,Unemployed,Employed,Employed,Employed,Employed,Unemployed,Employed,Unemployed
Gender,F,F,F,M,M,F,F,M,M,F,...,M,M,M,M,F,M,F,M,M,M
Income,56274,0,48767,0,43836,62902,55350,0,14072,28812,...,60646,0,0,66367,47761,71941,21604,0,21941,0
Location Code,Suburban,Suburban,Suburban,Suburban,Rural,Rural,Suburban,Urban,Suburban,Urban,...,Suburban,Suburban,Suburban,Suburban,Suburban,Urban,Suburban,Suburban,Suburban,Suburban
Marital Status,Married,Single,Married,Married,Single,Married,Married,Single,Divorced,Married,...,Married,Single,Single,Divorced,Single,Married,Divorced,Single,Married,Single
Monthly Premium Auto,69,94,108,106,73,69,67,101,71,93,...,134,185,67,64,104,73,79,85,96,77
Months Since Last Claim,32,13,18,18,12,14,0,0,13,17,...,31,26,25,6,16,18,14,9,34,3
Months Since Policy Inception,5,42,38,65,44,94,13,68,3,7,...,42,35,21,48,58,89,28,37,3,90
Number of Open Complaints,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,3,0,0
Number of Policies,1,8,2,7,1,2,9,4,2,8,...,2,2,4,3,1,2,1,2,3,1
Policy Type,Corporate Auto,Personal Auto,Personal Auto,Corporate Auto,Personal Auto,Personal Auto,Corporate Auto,Corporate Auto,Corporate Auto,Special Auto,...,Personal Auto,Personal Auto,Corporate Auto,Personal Auto,Personal Auto,Personal Auto,Corporate Auto,Corporate Auto,Personal Auto,Corporate Auto
Policy,Corporate L3,Personal L3,Personal L3,Corporate L2,Personal L1,Personal L3,Corporate L3,Corporate L3,Corporate L3,Special L2,...,Personal L3,Personal L3,Corporate L1,Personal L3,Personal L2,Personal L1,Corporate L3,Corporate L2,Personal L2,Corporate L3
Renew Offer Type,Offer1,Offer3,Offer1,Offer1,Offer1,Offer2,Offer1,Offer1,Offer1,Offer2,...,Offer2,Offer1,Offer1,Offer2,Offer1,Offer2,Offer1,Offer1,Offer3,Offer4
Sales Channel,Agent,Agent,Agent,Call Center,Agent,Web,Agent,Agent,Agent,Branch,...,Agent,Agent,Branch,Call Center,Branch,Web,Branch,Branch,Branch,Call Center
Total Claim Amount,384.811147,1131.464935,566.472247,529.881344,138.130879,159.383042,321.6,363.02968,511.2,425.527834,...,643.2,1950.725547,482.4,307.2,541.282007,198.234764,379.2,790.784983,691.2,369.6
Vehicle Class,Two-Door Car,Four-Door Car,Two-Door Car,SUV,Four-Door Car,Two-Door Car,Four-Door Car,Four-Door Car,Four-Door Car,Four-Door Car,...,SUV,SUV,Two-Door Car,Two-Door Car,Four-Door Car,Four-Door Car,Four-Door Car,Four-Door Car,Four-Door Car,Two-Door Car
Vehicle Size,Medsize,Medsize,Medsize,Medsize,Medsize,Medsize,Medsize,Medsize,Medsize,Medsize,...,Medsize,Small,Medsize,Small,Large,Medsize,Medsize,Medsize,Large,Medsize

In [3]:
customer_df.columns= customer_df.columns.str.lower()
customer_df

,customer,state,customer lifetime value,response,coverage,education,effective to date,employmentstatus,gender,income,...,months since policy inception,number of open complaints,number of policies,policy type,policy,renew offer type,sales channel,total claim amount,vehicle class,vehicle size
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2/24/11,Employed,F,56274,...,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize
1,QZ44356,Arizona,6979.535903,No,Extended,Bachelor,1/31/11,Unemployed,F,0,...,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize
2,AI49188,Nevada,12887.431650,No,Premium,Bachelor,2/19/11,Employed,F,48767,...,38,0,2,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize
3,WW63253,California,7645.861827,No,Basic,Bachelor,1/20/11,Unemployed,M,0,...,65,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.881344,SUV,Medsize
4,HB64268,Washington,2813.692575,No,Basic,Bachelor,2/3/11,Employed,M,43836,...,44,0,1,Personal Auto,Personal L1,Offer1,Agent,138.130879,Four-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,LA72316,California,23405.987980,No,Basic,Bachelor,2/10/11,Employed,M,71941,...,89,0,2,Personal Auto,Personal L1,Offer2,Web,198.234764,Four-Door Car,Medsize
9130,PK87824,California,3096.511217,Yes,Extended,College,2/12/11,Employed,F,21604,...,28,0,1,Corporate Auto,Corporate L3,Offer1,Branch,379.200000,Four-Door Car,Medsize
9131,TD14365,California,8163.890428,No,Extended,Bachelor,2/6/11,Unemployed,M,0,...,37,3,2,Corporate Auto,Corporate L2,Offer1,Branch,790.784983,Four-Door Car,Medsize
9132,UP19263,California,7524.442436,No,Extended,College,2/3/11,Employed,M,21941,...,3,0,3,Personal Auto,Personal L2,Offer3,Branch,691.200000,Four-Door Car,Large
9133,Y167826,California,2611.836866,No,Extended,College,2/14/11,Unemployed,M,0,...,90,0,1,Corporate Auto,Corporate L3,Offer4,Call Center,369.600000,Two-Door Car,Medsize

In [4]:
customer_df.columns = customer_df.columns.str.replace(' ','_')
customer_df.T

,0,1,2,3,4,5,6,7,8,9,...,9124,9125,9126,9127,9128,9129,9130,9131,9132,9133
customer,BU79786,QZ44356,AI49188,WW63253,HB64268,OC83172,XZ87318,CF85061,DY87989,BQ94931,...,CB59349,RX91025,AC13887,TF56202,YM19146,LA72316,PK87824,TD14365,UP19263,Y167826
state,Washington,Arizona,Nevada,California,Washington,Oregon,Oregon,Arizona,Oregon,Oregon,...,California,California,California,California,California,California,California,California,California,California
customer_lifetime_value,2763.519279,6979.535903,12887.43165,7645.861827,2813.692575,8256.2978,5380.898636,7216.100311,24127.50402,7388.178085,...,16261.5855,19872.262,4628.995325,5032.165498,4100.398533,23405.98798,3096.511217,8163.890428,7524.442436,2611.836866
response,No,No,No,No,No,Yes,Yes,No,Yes,No,...,No,No,No,No,No,No,Yes,No,No,No
coverage,Basic,Extended,Premium,Basic,Basic,Basic,Basic,Premium,Basic,Extended,...,Extended,Premium,Basic,Basic,Premium,Basic,Extended,Extended,Extended,Extended
education,Bachelor,Bachelor,Bachelor,Bachelor,Bachelor,Bachelor,College,Master,Bachelor,College,...,Master,High School or Below,Bachelor,College,College,Bachelor,College,Bachelor,College,College
effective_to_date,2/24/11,1/31/11,2/19/11,1/20/11,2/3/11,1/25/11,2/24/11,1/18/11,1/26/11,2/17/11,...,1/20/11,1/31/11,1/9/11,2/12/11,1/6/11,2/10/11,2/12/11,2/6/11,2/3/11,2/14/11
employmentstatus,Employed,Unemployed,Employed,Unemployed,Employed,Employed,Employed,Unemployed,Medical Leave,Employed,...,Employed,Unemployed,Unemployed,Employed,Employed,Employed,Employed,Unemployed,Employed,Unemployed
gender,F,F,F,M,M,F,F,M,M,F,...,M,M,M,M,F,M,F,M,M,M
income,56274,0,48767,0,43836,62902,55350,0,14072,28812,...,60646,0,0,66367,47761,71941,21604,0,21941,0
location_code,Suburban,Suburban,Suburban,Suburban,Rural,Rural,Suburban,Urban,Suburban,Urban,...,Suburban,Suburban,Suburban,Suburban,Suburban,Urban,Suburban,Suburban,Suburban,Suburban
marital_status,Married,Single,Married,Married,Single,Married,Married,Single,Divorced,Married,...,Married,Single,Single,Divorced,Single,Married,Divorced,Single,Married,Single
monthly_premium_auto,69,94,108,106,73,69,67,101,71,93,...,134,185,67,64,104,73,79,85,96,77
months_since_last_claim,32,13,18,18,12,14,0,0,13,17,...,31,26,25,6,16,18,14,9,34,3
months_since_policy_inception,5,42,38,65,44,94,13,68,3,7,...,42,35,21,48,58,89,28,37,3,90
number_of_open_complaints,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,3,0,0
number_of_policies,1,8,2,7,1,2,9,4,2,8,...,2,2,4,3,1,2,1,2,3,1
policy_type,Corporate Auto,Personal Auto,Personal Auto,Corporate Auto,Personal Auto,Personal Auto,Corporate Auto,Corporate Auto,Corporate Auto,Special Auto,...,Personal Auto,Personal Auto,Corporate Auto,Personal Auto,Personal Auto,Personal Auto,Corporate Auto,Corporate Auto,Personal Auto,Corporate Auto
policy,Corporate L3,Personal L3,Personal L3,Corporate L2,Personal L1,Personal L3,Corporate L3,Corporate L3,Corporate L3,Special L2,...,Personal L3,Personal L3,Corporate L1,Personal L3,Personal L2,Personal L1,Corporate L3,Corporate L2,Personal L2,Corporate L3
renew_offer_type,Offer1,Offer3,Offer1,Offer1,Offer1,Offer2,Offer1,Offer1,Offer1,Offer2,...,Offer2,Offer1,Offer1,Offer2,Offer1,Offer2,Offer1,Offer1,Offer3,Offer4
sales_channel,Agent,Agent,Agent,Call Center,Agent,Web,Agent,Agent,Agent,Branch,...,Agent,Agent,Branch,Call Center,Branch,Web,Branch,Branch,Branch,Call Center
total_claim_amount,384.811147,1131.464935,566.472247,529.881344,138.130879,159.383042,321.6,363.02968,511.2,425.527834,...,643.2,1950.725547,482.4,307.2,541.282007,198.234764,379.2,790.784983,691.2,369.6
vehicle_class,Two-Door Car,Four-Door Car,Two-Door Car,SUV,Four-Door Car,Two-Door Car,Four-Door Car,Four-Door Car,Four-Door Car,Four-Door Car,...,SUV,SUV,Two-Door Car,Two-Door Car,Four-Door Car,Four-Door Car,Four-Door Car,Four-Door Car,Four-Door Car,Two-Door Car
vehicle_size,Medsize,Medsize,Medsize,Medsize,Medsize,Medsize,Medsize,Medsize,Medsize,Medsize,...,Medsize,Small,Medsize,Small,Large,Medsize,Medsize,Medsize,Large,Medsize

In [5]:
customer_df.shape

(9134, 24)

In [6]:
customer_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9134 entries, 0 to 9133
Data columns (total 24 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   customer                       9134 non-null   object
 1   state                          9134 non-null   object
 2   customer_lifetime_value        9134 non-null   float64
 3   response                       9134 non-null   object
 4   coverage                       9134 non-null   object
 5   education                      9134 non-null   object
 6   effective_to_date              9134 non-null   object
 7   employmentstatus               9134 non-null   object
 8   gender                         9134 non-null   object
 9   income                         9134 non-null   int64
 10  location_code                  9134 non-null   object
 11  marital_status                 9134 non-null   object
 12  monthly_premium_auto           9134 non-null   int64
 13  months_since_last_claim        9134 non-null   int64
 14  months_since_policy_inception  9134 non-null   int64
 15  number_of_open_complaints      9134 non-null   int64
 16  number_of_policies             9134 non-null   int64
 17  policy_type                    9134 non-null   object
 18  policy                         9134 non-null   object
 19  renew_offer_type               9134 non-null   object
 20  sales_channel                  9134 non-null   object
 21  total_claim_amount             9134 non-null   float64
 22  vehicle_class                  9134 non-null   object
 23  vehicle_size                   9134 non-null   object
dtypes: float64(2), int64(6), object(16)
memory usage: 1.7+ MB

In [7]:
type(customer_df)

pandas.core.frame.DataFrame

In [10]:
categorical_df = customer_df.select_dtypes(object)
categorical_df

,customer,state,response,coverage,education,effective_to_date,employmentstatus,gender,location_code,marital_status,policy_type,policy,renew_offer_type,sales_channel,vehicle_class,vehicle_size
0,BU79786,Washington,No,Basic,Bachelor,2/24/11,Employed,F,Suburban,Married,Corporate Auto,Corporate L3,Offer1,Agent,Two-Door Car,Medsize
1,QZ44356,Arizona,No,Extended,Bachelor,1/31/11,Unemployed,F,Suburban,Single,Personal Auto,Personal L3,Offer3,Agent,Four-Door Car,Medsize
2,AI49188,Nevada,No,Premium,Bachelor,2/19/11,Employed,F,Suburban,Married,Personal Auto,Personal L3,Offer1,Agent,Two-Door Car,Medsize
3,WW63253,California,No,Basic,Bachelor,1/20/11,Unemployed,M,Suburban,Married,Corporate Auto,Corporate L2,Offer1,Call Center,SUV,Medsize
4,HB64268,Washington,No,Basic,Bachelor,2/3/11,Employed,M,Rural,Single,Personal Auto,Personal L1,Offer1,Agent,Four-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,LA72316,California,No,Basic,Bachelor,2/10/11,Employed,M,Urban,Married,Personal Auto,Personal L1,Offer2,Web,Four-Door Car,Medsize
9130,PK87824,California,Yes,Extended,College,2/12/11,Employed,F,Suburban,Divorced,Corporate Auto,Corporate L3,Offer1,Branch,Four-Door Car,Medsize
9131,TD14365,California,No,Extended,Bachelor,2/6/11,Unemployed,M,Suburban,Single,Corporate Auto,Corporate L2,Offer1,Branch,Four-Door Car,Medsize
9132,UP19263,California,No,Extended,College,2/3/11,Employed,M,Suburban,Married,Personal Auto,Personal L2,Offer3,Branch,Four-Door Car,Large
9133,Y167826,California,No,Extended,College,2/14/11,Unemployed,M,Suburban,Single,Corporate Auto,Corporate L3,Offer4,Call Center,Two-Door Car,Medsize

In [11]:
categorical_df.isna().sum()
#categorical_df.shape

customer             0
state                0
response             0
coverage             0
education            0
effective_to_date    0
employmentstatus     0
gender               0
location_code        0
marital_status       0
policy_type          0
policy               0
renew_offer_type     0
sales_channel        0
vehicle_class        0
vehicle_size         0
dtype: int64

In [12]:
print(categorical_df.dtypes)

customer             object
state                object
response             object
coverage             object
education            object
effective_to_date    object
employmentstatus     object
gender               object
location_code        object
marital_status       object
policy_type          object
policy               object
renew_offer_type     object
sales_channel        object
vehicle_class        object
vehicle_size         object
dtype: object

In [16]:
categorical_df.describe().T

                  count unique            top  freq
customer           9134   9134        BU79786     1
state              9134      5     California  3150
response           9134      2             No  7826
coverage           9134      3          Basic  5568
education          9134      5       Bachelor  2748
effective_to_date  9134     59        1/10/11   195
employmentstatus   9134      5       Employed  5698
gender             9134      2              F  4658
location_code      9134      3       Suburban  5779
marital_status     9134      3        Married  5298
policy_type        9134      3  Personal Auto  6788
policy             9134      9    Personal L3  3426
renew_offer_type   9134      4         Offer1  3752
sales_channel      9134      4          Agent  3477
vehicle_class      9134      6  Four-Door Car  4621
vehicle_size       9134      3        Medsize  6424

In [17]:
categorical_df.isnull().sum()/len(customer_df)

customer             0.0
state                0.0
response             0.0
coverage             0.0
education            0.0
effective_to_date    0.0
employmentstatus     0.0
gender               0.0
location_code        0.0
marital_status       0.0
policy_type          0.0
policy               0.0
renew_offer_type     0.0
sales_channel        0.0
vehicle_class        0.0
vehicle_size         0.0
dtype: float64

In [19]:
categorical_df = pd.DataFrame(categorical_df)

categorical_df.T

,0,1,2,3,4,5,6,7,8,9,...,9124,9125,9126,9127,9128,9129,9130,9131,9132,9133
customer,BU79786,QZ44356,AI49188,WW63253,HB64268,OC83172,XZ87318,CF85061,DY87989,BQ94931,...,CB59349,RX91025,AC13887,TF56202,YM19146,LA72316,PK87824,TD14365,UP19263,Y167826
state,Washington,Arizona,Nevada,California,Washington,Oregon,Oregon,Arizona,Oregon,Oregon,...,California,California,California,California,California,California,California,California,California,California
response,No,No,No,No,No,Yes,Yes,No,Yes,No,...,No,No,No,No,No,No,Yes,No,No,No
coverage,Basic,Extended,Premium,Basic,Basic,Basic,Basic,Premium,Basic,Extended,...,Extended,Premium,Basic,Basic,Premium,Basic,Extended,Extended,Extended,Extended
education,Bachelor,Bachelor,Bachelor,Bachelor,Bachelor,Bachelor,College,Master,Bachelor,College,...,Master,High School or Below,Bachelor,College,College,Bachelor,College,Bachelor,College,College
effective_to_date,2/24/11,1/31/11,2/19/11,1/20/11,2/3/11,1/25/11,2/24/11,1/18/11,1/26/11,2/17/11,...,1/20/11,1/31/11,1/9/11,2/12/11,1/6/11,2/10/11,2/12/11,2/6/11,2/3/11,2/14/11
employmentstatus,Employed,Unemployed,Employed,Unemployed,Employed,Employed,Employed,Unemployed,Medical Leave,Employed,...,Employed,Unemployed,Unemployed,Employed,Employed,Employed,Employed,Unemployed,Employed,Unemployed
gender,F,F,F,M,M,F,F,M,M,F,...,M,M,M,M,F,M,F,M,M,M
location_code,Suburban,Suburban,Suburban,Suburban,Rural,Rural,Suburban,Urban,Suburban,Urban,...,Suburban,Suburban,Suburban,Suburban,Suburban,Urban,Suburban,Suburban,Suburban,Suburban
marital_status,Married,Single,Married,Married,Single,Married,Married,Single,Divorced,Married,...,Married,Single,Single,Divorced,Single,Married,Divorced,Single,Married,Single
policy_type,Corporate Auto,Personal Auto,Personal Auto,Corporate Auto,Personal Auto,Personal Auto,Corporate Auto,Corporate Auto,Corporate Auto,Special Auto,...,Personal Auto,Personal Auto,Corporate Auto,Personal Auto,Personal Auto,Personal Auto,Corporate Auto,Corporate Auto,Personal Auto,Corporate Auto
policy,Corporate L3,Personal L3,Personal L3,Corporate L2,Personal L1,Personal L3,Corporate L3,Corporate L3,Corporate L3,Special L2,...,Personal L3,Personal L3,Corporate L1,Personal L3,Personal L2,Personal L1,Corporate L3,Corporate L2,Personal L2,Corporate L3
renew_offer_type,Offer1,Offer3,Offer1,Offer1,Offer1,Offer2,Offer1,Offer1,Offer1,Offer2,...,Offer2,Offer1,Offer1,Offer2,Offer1,Offer2,Offer1,Offer1,Offer3,Offer4
sales_channel,Agent,Agent,Agent,Call Center,Agent,Web,Agent,Agent,Agent,Branch,...,Agent,Agent,Branch,Call Center,Branch,Web,Branch,Branch,Branch,Call Center
vehicle_class,Two-Door Car,Four-Door Car,Two-Door Car,SUV,Four-Door Car,Two-Door Car,Four-Door Car,Four-Door Car,Four-Door Car,Four-Door Car,...,SUV,SUV,Two-Door Car,Two-Door Car,Four-Door Car,Four-Door Car,Four-Door Car,Four-Door Car,Four-Door Car,Two-Door Car
vehicle_size,Medsize,Medsize,Medsize,Medsize,Medsize,Medsize,Medsize,Medsize,Medsize,Medsize,...,Medsize,Small,Medsize,Small,Large,Medsize,Medsize,Medsize,Large,Medsize

In [20]:
categorical_df.education.value_counts()

Bachelor                2748
College                 2681
High School or Below    2622
Master                   741
Doctor                   342
Name: education, dtype: int64

In [21]:
categorical_df.location_code.value_counts()

Suburban    5779
Rural       1773
Urban       1582
Name: location_code, dtype: int64

In [22]:
categorical_df.policy.value_counts()

Personal L3     3426
Personal L2     2122
Personal L1     1240
Corporate L3    1014
Corporate L2     595
Corporate L1     359
Special L2       164
Special L3       148
Special L1        66
Name: policy, dtype: int64

In [23]:
categorical_df.policy_type.value_counts()

Personal Auto     6788
Corporate Auto    1968
Special Auto       378
Name: policy_type, dtype: int64

In [24]:
categorical_df.state.value_counts()

California    3150
Oregon        2601
Arizona       1703
Nevada         882
Washington     798
Name: state, dtype: int64

In [25]:
categorical_df.effective_to_date.unique()

array(['2/24/11', '1/31/11', '2/19/11', '1/20/11', '2/3/11', '1/25/11',
       '1/18/11', '1/26/11', '2/17/11', '2/21/11', '1/6/11', '2/6/11',
       '1/10/11', '1/17/11', '1/5/11', '2/27/11', '1/14/11', '1/21/11',
       '2/5/11', '1/29/11', '2/28/11', '2/12/11', '2/2/11', '2/7/11',
       '1/22/11', '2/13/11', '1/15/11', '1/8/11', '1/11/11', '1/28/11',
       '2/8/11', '2/23/11', '1/2/11', '2/16/11', '1/27/11', '1/23/11',
       '1/9/11', '2/11/11', '2/4/11', '2/1/11', '2/15/11', '2/26/11',
       '1/16/11', '1/1/11', '2/10/11', '1/24/11', '2/25/11', '1/12/11',
       '2/9/11', '1/19/11', '1/4/11', '2/14/11', '2/20/11', '2/18/11',
       '1/3/11', '1/13/11', '1/30/11', '2/22/11', '1/7/11'], dtype=object)

In [27]:
categorical_df.employmentstatus.unique()

array(['Employed', 'Unemployed', 'Medical Leave', 'Disabled', 'Retired'],
      dtype=object)

In [30]:
numericals_df = categorical_df.select_dtypes(np.number)

numericals_df

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[9134 rows x 0 columns]